:root.theme-light {
  background-image: url(../images/cover-image-light.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font-family);
  color: #353430;
  font-size: var(--main-font-size);
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --title-shadow-color: #ff0070;
  --main-text-color: #353430;
  --decorated-color: #353430;
  --section-text-color: var(--main-text-color);
  --button-color: var(--text-color);
  --bg-color: #fff1f7;
}

.theme-light .page {
  background-image: url(../images/cover-image-light.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font-family);
  color: #353430;
  font-size: var(--main-font-size);
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --title-shadow-color: #ff0070;
  --main-text-color: #353430;
  --decorated-color: #353430;
  --section-text-color: var(--main-text-color);
  --button-color: var(--text-color);
  --bg-color: #fff1f7;
}
