:root.theme-light {
  --text-color:  #353430;
  --accent-color:  #ff8dcb;
  --brand-color:  #ffc2e6;
  --highlight-color: #353430;
  --secondary-color: #353430;
  --secondary-color-dark: #32312D66;
  --page-bg-color:  #fff1f7;
  --page-bg-image: url("../images/cover-image-light.png");
  --rec-visibility: hidden;
  --link-hover-color: #353430;
}
@media (prefers-color-scheme: light) {
  :root {
    --text-color:  #353430;
    --accent-color:  #ff8dcb;
    --brand-color:  #ffc2e6;
    --highlight-color: #353430;
    --secondary-color: #353430;
    --secondary-color-dark:  #32312D66;
    --page-bg-color:  #fff1f7;
    --page-bg-image: url("../images/cover-image-light.png");
    --rec-visibility: hidden;
    --link-hover-color: #353430;
  }
}